* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 1200px;
}

.post {
    display: flex;
    padding: 15px;
    border: 3px double brown;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(156, 192, 159);
}
